.wrapper {
  background: rgb(231, 229, 229);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 5px;
  height:5%
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 8px;
}

.menu {
  background: rgb(249, 250, 249);
  display: flex;
  flex :1.5;
  height: 100%;
}


.content {
  background:  rgb(249, 250, 249);
  display: flex;
  flex :8;
  margin-left: 10;
}
/* 
@media screen and (max-width: 700px){
  .wrapper {
    background: rgb(163, 80, 80);
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 701px) and (max-width: 1024px){
  .wrapper {
    background: rgb(174, 201, 20);
  }
}


@media screen and (min-width: 1025px) and (max-width: 1440px){
  .wrapper {
    background: rgb(156, 202, 245);
  }
} */
