.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    overflow: scroll;
    padding: 15px ;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    padding: 5px;
    width: 24%;
  }

.card {
    /* border: 3px green solid; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 15px;
    padding-top: 10px;
  }


  .img{
     background: rgb(231, 229, 229);
      /* border: 1px blue solid; */
      width: 90%;
      
  }
